<body class="bg-white">
  <section class="sidebar">
    <nav class="flex flex-col gap-4">
      <a href="/" class="mb-12 cursor-pointer flex items-center gap-2">
        <img src={~p"/images/logo.svg"} alt="logo" class="size-[24px] max-xl:size-14" />
        <h1 class="sidebar-logo">Horizon</h1>
      </a>
    </nav>
  </section>      
  <div class="home">
    <%= @inner_content %>
  </div>
</body>